.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--color-1);
  background: var(--color-3);
  p {
    margin-bottom: 0;
    svg {
      margin: * 5px * *;
    }
  }
  strong {
    font-weight: 900;
  }
}
